<div class="container">
  <form id="new-link">
    <label>URL:
      <input id="link-url">
    </label>
    <label>Title:
      <input id="link-title">
    </label>
    <input type="submit" value="Add Link">
  </form>

  <div class="filters">
    <h4>Filters</h4>
    <label>By text:
      <input id="filter-input">
    </label>
    <div class="filter_buttons">
      <button type="button" name="all-read">Only Read Links</button>
      <button type="button" name="all-unread">Only Unread Links</button>
    </div>
  </div>

  <div id="links-list">
    <% @links.each do |link| %>

      <div class="link link-read-<%= link.read %> col-md-2" data-link-id="<%= link.id %>">
        <h5><%= link.title %></h5>
        <%= link_to link.url, link.url, class: "url-link" %>
        <p class="read-status">Read Status: <%= link.read%></p>

        <%= link_to "Mark as read", api_v1_link_path(link), class: "mark-read", style: (link.read ? 'display: none' : '') %>

        <%= link_to "Mark as unread", api_v1_link_path(link), class: "mark-unread", style: (link.read ? '' : 'display: none') %>

        <%= link_to "Edit", edit_link_path(link) %>
      </div>
    <% end %>

  </div>

</div>
