<form id="new-link">
  <label>URL:
    <input id="link-url">
  </label>
  <label>Title:
    <input id="link-title">
  </label>
  <input type="submit" value="Add Link">
</form>

<div id="links-list">
  <% @links.each do |link| %>
    <h5><%= link.title %></h5>

    <div class="link" data-link-id="<%= link.id %>"><%= link_to link.url, link.url%>
      <p class="read-status">Read Status: <%= link.read%></p>
      <% if !link.read %>
        <%= link_to "Mark as read", api_v1_link_path(link), class: "mark-read" %>
      <% end %>
      <%= link_to "Edit", edit_link_path(link) %>
    </div>
  </br>
  <% end %>

</div>
